Namespace(
 append_another_bos=True,
 checkpoint="",
 dataset='mrqa',
 debug=False,
 train_file="",
 dev_file="",
 do_lowercase=False,
 do_predict=True,
 do_train=False,
 max_input_length=888,
 max_output_length=50,
 model='facebook/bart-base',
 num_beams=3,
 output_dir='out/mrqa_squad_bart-base_1029_upstream_model/',
 predict_batch_size=64,
 predict_checkpoint='out/mrqa_squad_bart-base_1029_upstream_model//best-model.pt',
 prefix='',
 quiet=False,
 seed=42,
)