Namespace(
 append_another_bos=True,
 checkpoint="",
 dataset='nli',
 debug=False,
 train_file="",
 dev_file="",
 do_lowercase=False,
 do_predict=True,
 do_train=False,
 max_input_length=512,
 max_output_length=10,
 model='facebook/bart-base',
 num_beams=3,
 output_dir='out/snli_bart-base_1109_upstream_model',
 predict_batch_size=64,
 predict_checkpoint='out/snli_bart-base_1109_upstream_model/best-model.pt',
 prefix='',
 quiet=False,
 seed=42,
)